{% load i18n %}

<div id="top_page" class="navbar navbar-default navbar-static-top accounts hidden-xs">
    {# This is used in mobile view #}
    <div class="navbar-header">
        <a class="btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target=".account-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>

    <div class="navbar-collapse account-collapse collapse">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left text-uppercase">
              <li><a href="mailto:hello@shoplocal.ph"><i class="icon-envelope-alt "></i> Contact</a></li>
              <li><a href="#"><i class="icon-time"></i> 8 am - 9 pm</a></li>
              <li><a href="tel:09265557956 | 09309322958"><i class="icon-phone"></i> 09265557956 | 09309322958</a></li>
            </ul>
        </div>
    </div>
</div>
