{% load static %}
<div class="row text-center samp">
  <div class="col-md-4">
    <img src="{% static 'images/help1.jpg' %}" alt="">
    <h4>SUPPORT LOCAL FAMILIES</h4>
    <p class="samp-text">Shop directly from local products producers or makers and help them earn sustainable income to help their families live better.</p>
  </div>
  <div class="col-md-4">
    <img src="{% static 'images/gps.jpg' %}" alt="">
    <h4>FIND PRODUCTS YOU’LL LOVE</h4>
    <p class="samp-text">Explore unique and quality products made with Filipino ingenuity and craftsmanship from all over the country.</p>
  </div>
  <div class="col-md-4">
    <img src="{% static 'images/shield.jpg' %}" alt="">
    <h4>SHOP SECURELY</h4>
    <p class="samp-text">We want you to shop with confidence. So we handle and protect each transaction in our site to guarantee secure, safe and fast shopping experience.</p>
  </div>
</div>
